.contact-container {
	margin-top: 1rem;
	text-align: center;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
}
.contact-links {
	margin: 1em;
	display: flex;
}
#linkedin {
	margin: 2em;
}
#twitter {
	margin: 2em;
}
#github {
	margin: 2em;
}

@media (max-width: 950px) {
	.contact-links {
		display: flex;
		flex-direction: column;
	}
}
