header {
	text-align: center;
	font-size: x-large;
	margin: 1rem;
}
h2 {
	margin: 1rem;
	text-align: left;
}
.about-body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.about-content {
	flex: 1;
}
footer {
	width: 100%;
	background-color: #1f2228;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
img {
	width: 5rem;
	height: 5rem;
}
img:hover {
	transform: scale(1.2);
}
