.notfound-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
}

.notfound-container h2 {
	color: red;
}

.notfound-container img {
	width: 50%;
	height: 50%;
}
